* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 15vh;
  font-family: "Inconsolata", sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

main {
  font-family: "Space Mono", sans-serif;

  display: flex;
  flex: 80vh;
}

.img-window {
  flex: 1;

  background-image: image();
  padding: 0 3rem 0 3rem;
}

img {
  width: 100%;
}

.text-window {
  flex: 1;
}

.text-window h1,
p {
  margin-bottom: 3rem;
}

.text-window > h1 {
  font-size: 3rem;
}

.text-window > p {
  font-size: 2rem;
}

button {
  padding: 1rem;
  border: none;
  background: #333;
  color: white;
}

button:hover {
  padding: 1rem;
  border: none;
  background: darkgrey;
  cursor: pointer;
}

footer {
  flex: 5vh;
  text-align: center;
  font-family: "Montserrat";
  padding: 0.5rem;
}

@media (max-width: 400px) {
  * {
    font-size: xx-small;
  }

  img {
    padding: 1rem 0 !important;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 740px) {
  header {
    flex: 5vh;
    font-size: 1.5rem;
  }

  main {
    flex: 90vh;
  }

  main {
    flex-direction: column;
  }

  img {
    width: 100%;
    padding: 0 10rem 0 10rem;
  }

  .text-window {
    text-align: center;
  }

  .text-window p {
    margin-bottom: 1rem;
  }

  footer {
    font-size: small;
  }
}
